.app-container {
    max-width: 200rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgba(162, 168, 204, 0.644);
}