.search-bar-container {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    background-color: rgba(162, 168, 204, 0.644);
    color: white;
    padding: 1rem;
    overflow-wrap: break-word;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-items {
    z-index: 10000;
    display: flex;
    flex-direction: column;
}